#
# gitignore setting
#

#
# for .dotfiles
#
.DS_Store
.python-version
.vim
.matplotlibrc
!.vim/vimrc
!.vim/tool
res/

#
# for c++ requirements
#
# Prerequisites
*.d
*.o
*.so
*.a
*.out
obj/
bin/

#
# for python requirements
#
__pycache__/
*.pyc


#
# for other files
#
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx

